# Node
node_modules/

# Env files
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/

# Build output
dist/
build/

# OS/editor
.DS_Store
.vscode/
